Assignment7/Connected Services/PopulationService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar35.fulton.asu.edu/Page0/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar35.fulton.asu.edu/Page0/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar35.fulton.asu.edu/Page0/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_currencyConvert_InputMessage">
    <wsdl:part name="parameters" element="tns:currencyConvert" />
  </wsdl:message>
  <wsdl:message name="IService1_currencyConvert_OutputMessage">
    <wsdl:part name="parameters" element="tns:currencyConvertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEstablishments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstablishments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEstablishments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstablishmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NaturalHazards_InputMessage">
    <wsdl:part name="parameters" element="tns:NaturalHazards" />
  </wsdl:message>
  <wsdl:message name="IService1_NaturalHazards_OutputMessage">
    <wsdl:part name="parameters" element="tns:NaturalHazardsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NewsFocus_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsFocus" />
  </wsdl:message>
  <wsdl:message name="IService1_NewsFocus_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsFocusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPopulation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPopulation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPopulation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPopulationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="currencyConvert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/currencyConvert" message="tns:IService1_currencyConvert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/currencyConvertResponse" message="tns:IService1_currencyConvert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEstablishments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEstablishments" message="tns:IService1_GetEstablishments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEstablishmentsResponse" message="tns:IService1_GetEstablishments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NaturalHazards">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NaturalHazards" message="tns:IService1_NaturalHazards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NaturalHazardsResponse" message="tns:IService1_NaturalHazards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsFocus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewsFocus" message="tns:IService1_NewsFocus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewsFocusResponse" message="tns:IService1_NewsFocus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPopulation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPopulation" message="tns:IService1_GetPopulation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPopulationResponse" message="tns:IService1_GetPopulation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="currencyConvert">
      <soap:operation soapAction="http://tempuri.org/IService1/currencyConvert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstablishments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEstablishments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NaturalHazards">
      <soap:operation soapAction="http://tempuri.org/IService1/NaturalHazards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsFocus">
      <soap:operation soapAction="http://tempuri.org/IService1/NewsFocus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPopulation">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPopulation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar35.fulton.asu.edu/Page0/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>