Assignment7/Connected Services/ReportsServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar35.fulton.asu.edu/Page2/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar35.fulton.asu.edu/Page2/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar35.fulton.asu.edu/Page2/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Weather5Day_InputMessage">
    <wsdl:part name="parameters" element="tns:Weather5Day" />
  </wsdl:message>
  <wsdl:message name="IService1_Weather5Day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Weather5DayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TaxReport_InputMessage">
    <wsdl:part name="parameters" element="tns:TaxReport" />
  </wsdl:message>
  <wsdl:message name="IService1_TaxReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaxReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrimeReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CrimeReport" />
  </wsdl:message>
  <wsdl:message name="IService1_CrimeReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrimeReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HealthReport_InputMessage">
    <wsdl:part name="parameters" element="tns:HealthReport" />
  </wsdl:message>
  <wsdl:message name="IService1_HealthReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:HealthReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PovertyReport_InputMessage">
    <wsdl:part name="parameters" element="tns:PovertyReport" />
  </wsdl:message>
  <wsdl:message name="IService1_PovertyReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:PovertyReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Weather5Day">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Weather5Day" message="tns:IService1_Weather5Day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Weather5DayResponse" message="tns:IService1_Weather5Day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaxReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TaxReport" message="tns:IService1_TaxReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TaxReportResponse" message="tns:IService1_TaxReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrimeReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrimeReport" message="tns:IService1_CrimeReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrimeReportResponse" message="tns:IService1_CrimeReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HealthReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HealthReport" message="tns:IService1_HealthReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HealthReportResponse" message="tns:IService1_HealthReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PovertyReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PovertyReport" message="tns:IService1_PovertyReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PovertyReportResponse" message="tns:IService1_PovertyReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Weather5Day">
      <soap:operation soapAction="http://tempuri.org/IService1/Weather5Day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaxReport">
      <soap:operation soapAction="http://tempuri.org/IService1/TaxReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrimeReport">
      <soap:operation soapAction="http://tempuri.org/IService1/CrimeReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HealthReport">
      <soap:operation soapAction="http://tempuri.org/IService1/HealthReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PovertyReport">
      <soap:operation soapAction="http://tempuri.org/IService1/PovertyReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar35.fulton.asu.edu/Page2/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>