Assignment7/App_Data/Staff.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="Staffs">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="Staff" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>

							<xsd:element name="password" type="xsd:string"/>

						</xsd:sequence>
						<xsd:attribute name="username" type="xsd:string" use="required"/>
					</xsd:complexType>
				</xsd:element>

			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>

